<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.benet.labsys.mapper.LabsWorklogMapper">

    <resultMap type="LabsWorklog" id="LabsWorklogResult">
        <result property="id" column="id"/>
        <result property="workNo" column="work_no"/>
        <result property="roomNo" column="room_no"/>
        <result property="userNo" column="user_no"/>
        <result property="dataType" column="data_type"/>
        <result property="classNo" column="class_no"/>
        <result property="workTitle" column="work_title"/>
        <result property="workMode" column="work_mode"/>
        <result property="workContent" column="work_content"/>
        <result property="workPicture" column="work_picture"/>
        <result property="workSound" column="work_sound"/>
        <result property="workVideo" column="work_video"/>
        <result property="workResult" column="work_result"/>
        <result property="workDate" column="work_date"/>
        <result property="workTscore" column="work_tscore"/>
        <result property="workState" column="work_state"/>
        <result property="createBy" column="create_by"/>
        <result property="createTime" column="create_time"/>
        <result property="updateBy" column="update_by"/>
        <result property="updateTime" column="update_time"/>
        <result property="deleteFlag" column="delete_flag"/>
        <result property="comments" column="comments"/>
        <result property="appCode" column="app_code"/>
        <result property="version" column="version"/>
    </resultMap>

    <sql id="selectLabsWorklogVo">
        select id,
               work_no,
               room_no,
               user_no,
               data_type,
               class_no,
               work_title,
               work_mode,
               work_content,
               work_picture,
               work_sound,
               work_video,
               work_result,
               work_date,
               work_tscore,
               work_state,
               create_by,
               create_time,
               update_by,
               update_time,
               delete_flag,
               comments,
               app_code,
               version
        from labs_worklog
    </sql>

    <select id="getAllRecords" resultMap="LabsWorklogResult">
        <include refid="selectLabsWorklogVo"/>
        where delete_flag='1' and app_code=#{appCode}
    </select>

    <select id="getRecordsByClassNo" resultMap="LabsWorklogResult">
        <include refid="selectLabsWorklogVo"/>
        where delete_flag='1' and app_code=#{appCode} and class_no=#{classNo}
    </select>

    <select id="getRecordsByPaging" resultMap="LabsWorklogResult">
        <include refid="selectLabsWorklogVo"/>
        where delete_flag='1' and app_code=${appCode}
        <if test="model.condition != null  and model.condition != ''">and ${model.condition}</if>
        order by ${model.orderField} ${model.orderType} limit ${model.pageIndex},${model.pageSize}
    </select>

    <select id="getRecordByNo" resultMap="LabsWorklogResult">
        <include refid="selectLabsWorklogVo"/>
        where delete_flag='1' and app_code=#{appCode} and work_no = #{no}
    </select>

    <select id="getRecordNameByNo" resultType="String">
        select work_no
        from labs_worklog
        where delete_flag = '1'
          and app_code = #{appCode}
          and work_no = #{no}
    </select>

    <select id="getCountByCondition" resultType="Integer">
        select count(*) from labs_worklog
        where delete_flag='1' and app_code=#{appCode}
        <if test="condition != null  and condition != ''">and ${condition}</if>
    </select>

    <insert id="AddNewRecord" parameterType="LabsWorklog" useGeneratedKeys="true" keyProperty="id">
        insert into labs_worklog (
        <if test="info.workNo != null  and info.workNo != ''">work_no,</if>
        <if test="info.roomNo != null  and info.roomNo != ''">room_no,</if>
        <if test="info.userNo != null  and info.userNo != ''">user_no,</if>
        <if test="info.dataType != null  and info.dataType != ''">data_type,</if>
        <if test="info.classNo != null  and info.classNo != ''">class_no,</if>
        <if test="info.workTitle != null  and info.workTitle != ''">work_title,</if>
        <if test="info.workMode != null  and info.workMode != ''">work_mode,</if>
        <if test="info.workContent != null  and info.workContent != ''">work_content,</if>
        <if test="info.workPicture != null  and info.workPicture != ''">work_picture,</if>
        <if test="info.workSound != null  and info.workSound != ''">work_sound,</if>
        <if test="info.workVideo != null  and info.workVideo != ''">work_video,</if>
        <if test="info.workResult != null  and info.workResult != ''">work_result,</if>
        <if test="info.workDate != null ">work_date,</if>
        <if test="info.workTscore != null ">work_tscore,</if>
        <if test="info.workState != null  and info.workState != ''">work_state,</if>
        <if test="info.createBy != null  and info.createBy != ''">create_by,</if>
        <if test="info.createTime != null ">create_time,</if>
        <if test="info.updateBy != null  and info.updateBy != ''">update_by,</if>
        <if test="info.updateTime != null ">update_time,</if>
        <if test="info.deleteFlag != null  and info.deleteFlag != ''">delete_flag,</if>
        <if test="info.comments != null  and info.comments != ''">comments,</if>
        <if test="info.appCode != null  and info.appCode != ''">app_code,</if>
        <if test="info.version != null ">version</if>
        )values(
        <if test="info.workNo != null  and info.workNo != ''">#{info.workNo},</if>
        <if test="info.roomNo != null  and info.roomNo != ''">#{info.roomNo},</if>
        <if test="info.userNo != null  and info.userNo != ''">#{info.userNo},</if>
        <if test="info.dataType != null  and info.dataType != ''">#{info.dataType},</if>
        <if test="info.classNo != null  and info.classNo != ''">#{info.classNo},</if>
        <if test="info.workTitle != null  and info.workTitle != ''">#{info.workTitle},</if>
        <if test="info.workMode != null  and info.workMode != ''">#{info.workMode},</if>
        <if test="info.workContent != null  and info.workContent != ''">#{info.workContent},</if>
        <if test="info.workPicture != null  and info.workPicture != ''">#{info.workPicture},</if>
        <if test="info.workSound != null  and info.workSound != ''">#{info.workSound},</if>
        <if test="info.workVideo != null  and info.workVideo != ''">#{info.workVideo},</if>
        <if test="info.workResult != null  and info.workResult != ''">#{info.workResult},</if>
        <if test="info.workDate != null ">#{info.workDate},</if>
        <if test="info.workTscore != null ">#{info.workTscore},</if>
        <if test="info.workState != null  and info.workState != ''">#{info.workState},</if>
        <if test="info.createBy != null  and info.createBy != ''">#{info.createBy},</if>
        <if test="info.createTime != null ">#{info.createTime},</if>
        <if test="info.updateBy != null  and info.updateBy != ''">#{info.updateBy},</if>
        <if test="info.updateTime != null ">#{info.updateTime},</if>
        <if test="info.deleteFlag != null  and info.deleteFlag != ''">#{info.deleteFlag},</if>
        <if test="info.comments != null  and info.comments != ''">#{info.comments},</if>
        <if test="info.appCode != null  and info.appCode != ''">#{info.appCode},</if>
        <if test="info.version != null ">#{info.version}</if>
        )
    </insert>

    <update id="UpdateRecord" parameterType="LabsWorklog">
        update labs_worklog
        <set>
            <if test="info.workNo != null  and info.workNo != ''">work_no = #{info.workNo},</if>
            <if test="info.roomNo != null  and info.roomNo != ''">room_no = #{info.roomNo},</if>
            <if test="info.userNo != null  and info.userNo != ''">user_no = #{info.userNo},</if>
            <if test="info.dataType != null  and info.dataType != ''">data_type = #{info.dataType},</if>
            <if test="info.classNo != null  and info.classNo != ''">class_no = #{info.classNo},</if>
            <if test="info.workTitle != null  and info.workTitle != ''">work_title = #{info.workTitle},</if>
            <if test="info.workMode != null  and info.workMode != ''">work_mode = #{info.workMode},</if>
            <if test="info.workContent != null  and info.workContent != ''">work_content = #{info.workContent},</if>
            <if test="info.workPicture != null  and info.workPicture != ''">work_picture = #{info.workPicture},</if>
            <if test="info.workSound != null  and info.workSound != ''">work_sound = #{info.workSound},</if>
            <if test="info.workVideo != null  and info.workVideo != ''">work_video = #{info.workVideo},</if>
            <if test="info.workResult != null  and info.workResult != ''">work_result = #{info.workResult},</if>
            <if test="info.workDate != null ">work_date = #{info.workDate},</if>
            <if test="info.workTscore != null ">work_tscore = #{info.workTscore},</if>
            <if test="info.workState != null  and info.workState != ''">work_state = #{info.workState},</if>
            <if test="info.createBy != null  and info.createBy != ''">create_by = #{info.createBy},</if>
            <if test="info.createTime != null ">create_time = #{info.createTime},</if>
            <if test="info.updateBy != null  and info.updateBy != ''">update_by = #{info.updateBy},</if>
            <if test="info.updateTime != null ">update_time = #{info.updateTime},</if>
            <if test="info.deleteFlag != null  and info.deleteFlag != ''">delete_flag = #{info.deleteFlag},</if>
            <if test="info.comments != null  and info.comments != ''">comments = #{info.comments},</if>
            <if test="info.appCode != null  and info.appCode != ''">app_code = #{info.appCode},</if>
            <if test="info.version != null ">version = #{info.version},</if>
        </set>
        where delete_flag='1' and app_code=#{info.appCode} and version=#{info.version} and work_no = #{info.workNo}
    </update>

    <delete id="HardDeleteByNo">
        delete
        from labs_worklog
        where delete_flag = '1'
          and app_code = #{appCode}
          and work_no = #{no}
    </delete>

    <delete id="HardDeleteByNos">
        delete from labs_worklog
        where delete_flag='1' and app_code=#{appCode} and work_no in
        <foreach item="no" collection="nos" open="(" separator="," close=")">
            #{no}
        </foreach>
    </delete>

    <delete id="HardDeleteByCondition">
        delete from labs_worklog
        where delete_flag='1' and app_code=#{appCode}
        <if test="condition != null  and condition != ''">and ${condition}</if>
    </delete>

    <delete id="SoftDeleteByNo">
        update labs_worklog
        set delete_flag='0'
        where delete_flag = '1'
          and app_code = #{appCode}
          and work_no = #{no}
    </delete>

    <delete id="SoftDeleteByNos">
        update labs_worklog set delete_flag='0'
        where delete_flag='1' and app_code=#{appCode} and work_no in
        <foreach item="no" collection="nos" open="(" separator="," close=")">
            #{no}
        </foreach>
    </delete>

    <delete id="SoftDeleteByCondition">
        update labs_worklog set delete_flag='0'
        where delete_flag='1' and app_code=#{appCode}
        <if test="condition != null  and condition != ''">and ${condition}</if>
    </delete>

</mapper>